doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="icon", href="../favicon.ico")
    link(rel="apple-touch-icon", href="../apple-touch-icon.png")
    title Unistory | Home page
    link(rel="stylesheet", href="../styles/main.scss")
    link(href="./heist.pug")
  body
    include ./blocks/header.pug
    section.welcome
      .container 
        h1.welcome__title 
          | Software &nbsp;
          br.welcome__mobile-br
          .typed
          br
          | & &nbsp;
          span product consultancy
        ul.welcome__advantages
          li.welcome__advantages-item 
            a.advantage(
              href="https://www.upwork.com/ag/unistory",
              target="blank"
            )
              .advantage__left 
                span#upworkRating 4.9
                span 4.9
              .advantage__right
                img(src="../icons/Upwork.png", alt="upwork")
          li.welcome__advantages-item 
            a.advantage
              .advantage__left 
                span#developedProjects 20+
                span 20+
              .advantage__right
                | Developed
                br
                | projects
          li.welcome__advantages-item 
            a.advantage
              .advantage__left
                span#repeatCustomers 87%
                span 87%
              .advantage__right
                | Repeat
                br
                | customers
        button.btn.btn_animated_blue.btn_size_l.welcome__contact-btn(
          scroll-to="contactUs"
        ) Discuss the project
    .tags-slider
      .marquee
        .marquee__content
          a.marquee__tag(href="javascript:;", data-tag) #Front-end
          a.marquee__tag(href="javascript:;", data-tag) #Blockchain project
          a.marquee__tag(href="javascript:;", data-tag) #NFT
          a.marquee__tag(href="javascript:;", data-tag) #Web 3.0
          a.marquee__tag(href="javascript:;", data-tag) #DEFI
          a.marquee__tag(href="javascript:;", data-tag) #P2E
          a.marquee__tag(href="javascript:;", data-tag) #eCommerce
          a.marquee__tag(href="javascript:;", data-tag) #CRM/ERP
          a.marquee__tag(href="javascript:;", data-tag) #Front-end
          a.marquee__tag(href="javascript:;", data-tag) #Smart contracts
          a.marquee__tag(href="javascript:;", data-tag) #NFT
          a.marquee__tag(href="javascript:;", data-tag) #Design
          a.marquee__tag(href="javascript:;", data-tag) #DeFi
          a.marquee__tag(href="javascript:;", data-tag) #P2E
          a.marquee__tag(href="javascript:;", data-tag) #eCommerce
          a.marquee__tag(href="javascript:;", data-tag) #Back-end
      .marquee
        .marquee__content.marquee__content_reversed
          a.marquee__tag(href="javascript:;", data-tag) #Front-end
          a.marquee__tag(href="javascript:;", data-tag) #eCommerce
          a.marquee__tag(href="javascript:;", data-tag) #NFT
          a.marquee__tag(href="javascript:;", data-tag) #Design
          a.marquee__tag(href="javascript:;", data-tag) #DEFI
          a.marquee__tag(href="javascript:;", data-tag) #Web 3.0
          a.marquee__tag(href="javascript:;", data-tag) #CRM/ERP
          a.marquee__tag(href="javascript:;", data-tag) #P2E
          a.marquee__tag(href="javascript:;", data-tag) #Front-end
          a.marquee__tag(href="javascript:;", data-tag) #Smart contracts
          a.marquee__tag(href="javascript:;", data-tag) #NFT
          a.marquee__tag(href="javascript:;", data-tag) #Design
          a.marquee__tag(href="javascript:;", data-tag) #DEFI
          a.marquee__tag(href="javascript:;", data-tag) #Back-end
          a.marquee__tag(href="javascript:;", data-tag) #eCommerce
          a.marquee__tag(href="javascript:;", data-tag) #Web 3.0
    section.cases-section
      .container 
        h2#competence.title Success stories
        .cases-section__grid
          article.cases-section__item.case-card.case-card_animation_scale
            ul.case-card__tags 
              li
                a(href="javascript:;", data-tag) #DEFI
              li
                a(href="javascript:;", data-tag) #eCommerce
              li
                a(href="javascript:;", data-tag) #Design
            a.case-card__img(href="javascript:;")
              img(src="../img/Case_1.png", alt="3Dprint.HK")
            h3.case-card__title 3Dprint.HK
          article.cases-section__item.case-card.case-card_animation_scale
            ul.case-card__tags 
              li
                a(href="javascript:;", data-tag) #NFT
              li
                a(href="javascript:;", data-tag) #Design
            a.case-card__img(href="javascript:;")
              img(src="../img/Case_2.jpeg", alt="Millionpieces")
            h3.case-card__title Puzzle People
          article.cases-section__item.case-card.case-card_animation_scale
            ul.case-card__tags 
              li
                a(href="javascript:;", data-tag) #CRM/ERP
              li
                a(href="javascript:;", data-tag) #Back-end
            a.case-card__img(href="./sipsignal.pug")
              img(src="../img/Case_3.jpeg", alt="Millionpieces")
            h3.case-card__title Sipsignal
          article.cases-section__item.case-card.case-card_animation_scale
            ul.case-card__tags 
              li
                a(href="javascript:;", data-tag) #Front-end
              li
                a(href="javascript:;", data-tag) #eCommerce
            a.case-card__img(href="javascript:;")
              img(src="../img/Case_4.jpg", alt="Millionpieces")
            h3.case-card__title Rauberg
    section#about.project-road 
      .container
        h2.title From your idea to success story
        ul.project-road__list 
          li.project-road__item 
            .project-road__icon
              img(src="../icons/services/planning.svg")
            h3.project-road__subtitle Planning
            p.project-road__desc We create a well-defined scope of project and help you to visualize your ideas.
          li.project-road__item 
            .project-road__icon
              img(src="../icons/services/design.svg")
            h3.project-road__subtitle Design
            p.project-road__desc Design development based on approved wireframes and design guidelines.
          li.project-road__item 
            .project-road__icon
              img(src="../icons/services/development.svg")
            h3.project-road__subtitle Development
            p.project-road__desc We cater to the requirement for frontend, backend, web services, and API development integration.
          li.project-road__item 
            .project-road__icon
              img(src="../icons/services/release.svg")
            h3.project-road__subtitle Release
            p.project-road__desc We make sure that everything runs, every day, exactly as it should be.
    section#reviews.testimonials
      .container
        h2.title Trusted by the best
        .slider
          .slider__pagination
          .slider__cards
            .slide-block
              .slide-block__wrapper
                .slide-block__image
                  img(src="../img/daniel.jpg", alt="client")
                .slide-block__text
                  //- img(src="../icons/client4.png", alt="company")
                  p
                    |
                    |
                    | Unistory is a great agency. They are the most dedicated and skilled frontend developers I have worked with remotely. Well written code and delivered on time. Highly recommended!
                  h3 Daniel Chang
                  h4 CEO &quot;3DPRINT.HK&quot;
            .slide-block
              .slide-block__wrapper
                .slide-block__image
                  img(src="../img/SimpsonWilliam.jpg", alt="client")
                .slide-block__text
                  //- img(src="../icons/client-logo.png", alt="company")
                  p
                    | Great team of professionals! They always delivered projects on time, clearly processed all tasks, and were easy with the communication. Highly recommended!
                  h3 Alexander Tompson
                  h4 CEO &quot;THE RANGERS NFT&quot;
            .slide-block
              .slide-block__wrapper
                .slide-block__image
                  img(src="../img/IM2.jpg", alt="client")
                .slide-block__text
                  //- img(src="../icons/client-logo.png", alt="company")
                  p
                    | Unistory is a well-managed and structured team, Weekly updates, quick response, and turnaround. I would highly recommend the Unistory team for any project. We are so pleased with the results that we started the second project right away. Thank you guys for your hard work
                  h3 Bogdan Parhomenko
                  h4 CEO &quot;SIPSIGNAL&quot;
            .slide-block.slide-block_active
              .slide-block__wrapper
                .slide-block__image
                  img(src="../img/bgdn.jpg", alt="client")
                .slide-block__text
                  //- img(src="../icons/client-logo.png", alt="company")
                  p
                    | The agreed upon project specification was fulfilled without problems. The contractor was very flexible and adaptive to improvements and changes from our side. It took a bit longer than anticipated, but all within reasonable limits. The communication was very open, clear and responsive. All in all, clear recommendation and hoping to work with them again
                  h3 Jamie Burton
                  h4 CEO &quot;CryptoAnonymous&quot;
          .slider__controls
            button.slider__controls_prev
            button.slider__controls_next
    #contactUs.contact-us 
      .container 
        h2.title Contact us
        .contact-us__wrap 
          .contact-us__details 
            h3.contact-us__subtitle Get in touch
            .contact-us__item 
              b Phone
              br
              a(href="tel:+7 981 101 1104") +7 981 101 1104
            .contact-us__item 
              b Email
              br
              a(href="mailto:contact@unistory.app") contact@unistory.app
            .contact-us__item 
              b Address
              br
              p Kazakhstan, Nur-Sultan
                br 
                | Ave. Mangilik El. 39
          form#contactForm.contact-us__form(enctype="multipart/form-data")
            .contact-us__inputs-wrap
              .contact-us__form-frame.contact-us__form-frame_top-right
              .contact-us__form-frame.contact-us__form-frame_bottom-right
              label.contact-us__field
                input#nameInput(
                  type="text",
                  name="name",
                  autocomplete="name",
                  placeholder="Name",
                  required
                )
                span Name *
              label.contact-us__field
                input#emailInput(
                  type="email",
                  name="email",
                  autocomplete="email",
                  placeholder="Email",
                  required
                )
                span Email *
              label.contact-us__field
                input#phoneInput(
                  type="tel",
                  name="phone",
                  autocomplete="tel",
                  placeholder="Phone number",
                  required
                )
                span Phone number *
              label.contact-us__field
                textarea#message(
                  name="message",
                  cols="30",
                  rows="1",
                  placeholder="Tell us about your project",
                  maxlength="280",
                  required
                )
                span Tell us about your project *
                small#messageLength 0/280
              label.contact-us__file
                img(src="../icons/attach.svg", alt="alt")
                span#filelist Attach files
                input#file(type="file", name="file") 
            button.btn.btn_animated_white.btn_size_l(type="submit") Discuss the project
            p.contact-us__description By submitting your form, you agree to&nbsp;
              a#privacyPolicyForm(href="javascript:;") the Privacy Policy
              | &nbsp;rules.

    include ./blocks/footer.pug
    script(type="module", src="../scripts/slider.js") 
    script(type="module", src="../scripts/categories.js") 
    script(type="module", src="../scripts/smooth-scroll.js") 
    script(type="module", src="../scripts/animation.js") 
    script(type="module", src="../scripts/menu.js") 
    script(type="module", src="../scripts/send-mail.js")
