doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    include blocks/og.pug
    link(rel="icon", href="../favicon.ico")
    link(rel="apple-touch-icon", href="../apple-touch-icon.png")
    title Unistory | Home page
    link(rel="stylesheet", href="../styles/main.scss")
    script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-Q3N3QQXJV3')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-Q3N3QQXJV3');
  body
    include ./blocks/header.pug
    section.welcome
      .container 
        h1.welcome__title 
          | Software &nbsp;
          br.welcome__mobile-br
          .typed
          br
          | & &nbsp;
          span product consultancy
        ul.welcome__advantages
          li.welcome__advantages-item 
            a.advantage(
              href="https://www.upwork.com/ag/unistory",
              target="blank"
            )
              .advantage__left 
                span#upworkRating 4.9
                span 4.9
              .advantage__right
                img(src="../icons/Upwork.png", alt="upwork")
          li.welcome__advantages-item 
            a.advantage
              .advantage__left 
                span#developedProjects 60+
                span 60+
              .advantage__right(data-i18n="[html]home.developed_projects")
                | Developed
                br
                | projects
          li.welcome__advantages-item 
            a.advantage
              .advantage__left
                span#repeatCustomers 88%
                span 88%
              .advantage__right(data-i18n="[html]home.of_customers_recommend")
                | Of customers
                br
                | recommend
        button.btn.btn_animated_blue.btn_size_l.welcome__contact-btn(
          scroll-to="contactUs",
          data-i18n="home.discuss_the_project"
        ) Discuss the project
    .tags-slider
      .marquee
        .marquee__content
          a.marquee__tag(href="javascript:;", data-tag) #Front-end
          a.marquee__tag(href="javascript:;", data-tag) #Blockchain project
          a.marquee__tag(href="javascript:;", data-tag) #NFT
          a.marquee__tag(href="javascript:;", data-tag) #Web 3.0
          a.marquee__tag(href="javascript:;", data-tag) #DEFI
          a.marquee__tag(href="javascript:;", data-tag) #P2E
          a.marquee__tag(href="javascript:;", data-tag) #eCommerce
          a.marquee__tag(href="javascript:;", data-tag) #CRM/ERP
          a.marquee__tag(href="javascript:;", data-tag) #Front-end
          a.marquee__tag(href="javascript:;", data-tag) #Smart contracts
          a.marquee__tag(href="javascript:;", data-tag) #NFT
          a.marquee__tag(href="javascript:;", data-tag) #Design
          a.marquee__tag(href="javascript:;", data-tag) #DeFi
          a.marquee__tag(href="javascript:;", data-tag) #P2E
          a.marquee__tag(href="javascript:;", data-tag) #eCommerce
          a.marquee__tag(href="javascript:;", data-tag) #Back-end
      .marquee
        .marquee__content.marquee__content_reversed
          a.marquee__tag(href="javascript:;", data-tag) #Front-end
          a.marquee__tag(href="javascript:;", data-tag) #eCommerce
          a.marquee__tag(href="javascript:;", data-tag) #NFT
          a.marquee__tag(href="javascript:;", data-tag) #Design
          a.marquee__tag(href="javascript:;", data-tag) #DEFI
          a.marquee__tag(href="javascript:;", data-tag) #Web 3.0
          a.marquee__tag(href="javascript:;", data-tag) #CRM/ERP
          a.marquee__tag(href="javascript:;", data-tag) #P2E
          a.marquee__tag(href="javascript:;", data-tag) #Front-end
          a.marquee__tag(href="javascript:;", data-tag) #Smart contracts
          a.marquee__tag(href="javascript:;", data-tag) #NFT
          a.marquee__tag(href="javascript:;", data-tag) #Design
          a.marquee__tag(href="javascript:;", data-tag) #DEFI
          a.marquee__tag(href="javascript:;", data-tag) #Back-end
          a.marquee__tag(href="javascript:;", data-tag) #eCommerce
          a.marquee__tag(href="javascript:;", data-tag) #Web 3.0
    section.cases-section
      .container 
        h2#competence.title(data-i18n="home.success_stories") Success stories
        .cases-section__grid 
          article.cases-section__item.case-card.case-card_animation_scale
            ul.case-card__tags 
              li
                a(href="javascript:;", data-tag) #NFT
              li
                a(href="javascript:;", data-tag) #BUSD
              li
                a(href="javascript:;", data-tag) #BNB
              li
                a(href="javascript:;", data-tag) #Stacking
            a.case-card__img(href="./heist.pug")
              img.case-card__img-bg(src="../img/case-heist.jpg", alt="Heist")
            h3.case-card__title The Heist game
          article.cases-section__item.case-card.case-card_animation_scale
            ul.case-card__tags 
              li
                a(href="javascript:;", data-tag) #B2B
              li
                a(href="javascript:;", data-tag) #Aggregator
              li
                a(href="javascript:;", data-tag) #Ads-scanner
              li 
                a(href="javascript:;", data-tag) #Mobile
            a.case-card__img(href="./personal.pug")
              img.case-card__img-bg(
                src="../img/case-personal.jpg",
                alt="Personal"
              )
            h3.case-card__title Personal
          article.cases-section__item.case-card.case-card_animation_scale
            ul.case-card__tags 
              li
                a(href="javascript:;", data-tag) #NFT
              li
                a(href="javascript:;", data-tag) #Web 3.0
              li
                a(href="javascript:;", data-tag) #Chainlink
            a.case-card__img(href="./gas-monsters.pug")
              img.case-card__img-bg(
                src="../img/gas-monsters/case.jpg",
                alt="Heist"
              )
            h3.case-card__title GasMonsters
          article.cases-section__item.case-card.case-card_animation_scale
            ul.case-card__tags 
              li
                a(href="javascript:;", data-tag) #Staking
              li
                a(href="javascript:;", data-tag) #DEFI
              li
                a(href="javascript:;", data-tag) #Web 3.0
            a.case-card__img(href="./xillion.pug")
              img.case-card__img-bg(src="../img/xillion/case.jpg", alt="Heist")
            h3.case-card__title Xillion
    section#about.project-road 
      .container
        h2.title(data-i18n="home.from_your_idea") From your idea to success story
        ul.project-road__list 
          li.project-road__item 
            .project-road__icon
              img(src="../icons/services/planning.svg")
            h3.project-road__subtitle(data-i18n="home.planning") Planning
            p.project-road__desc(data-i18n="home.planning_descr") We create a well-defined scope of project and help you to visualize your ideas.
          li.project-road__item 
            .project-road__icon
              img(src="../icons/services/design.svg")
            h3.project-road__subtitle(data-i18n="home.design") Design
            p.project-road__desc(data-i18n="home.design_descr") Design development based on approved wireframes and design guidelines.
          li.project-road__item 
            .project-road__icon
              img(src="../icons/services/development.svg")
            h3.project-road__subtitle(data-i18n="home.development") Development
            p.project-road__desc(data-i18n="home.development_descr") We cater to the requirement for frontend, backend, web services, and API development integration.
          li.project-road__item 
            .project-road__icon
              img(src="../icons/services/release.svg")
            h3.project-road__subtitle(data-i18n="home.release") Release
            p.project-road__desc(data-i18n="home.release_descr") We make sure that everything runs, every day, exactly as it should be.
    section#reviews.testimonials
      .container
        h2.title(data-i18n="home.trusted_by") Trusted by the best
        .slider
          .slider__pagination
          .slider__cards
            .slide-block
              .slide-block__wrapper
                .slide-block__image
                  img(src="../img/reviews/Daniel Chang.jpg", alt="client")
                .slide-block__text
                  //- img(src="../icons/client4.png", alt="company")
                  p(data-i18n="home.review_chang")
                    | Unistory is a great agency. They are the most dedicated and skilled frontend developers I have worked with remotely. Well written code and delivered on time. Highly recommended!
                  h3 Daniel Chang
                  h4 CEO &quot;3DPRINT.HK&quot;
            .slide-block
              .slide-block__wrapper
                .slide-block__image
                  img(src="../img/reviews/Alexander Tompson.jpg", alt="client")
                .slide-block__text
                  //- img(src="../icons/client-logo.png", alt="company")
                  p(data-i18n="home.review_tompson")
                    | Great team of professionals! They always delivered projects on time, clearly processed all tasks, and were easy with the communication. Highly recommended!
                  h3 Alexander Tompson
                  h4 CEO &quot;THE RANGERS NFT&quot;
            .slide-block
              .slide-block__wrapper
                .slide-block__image
                  img(src="../img/reviews/Bogdan Parhomenko.jpg", alt="client")
                .slide-block__text
                  //- img(src="../icons/client-logo.png", alt="company")
                  p(data-i18n="home.review_parhomenko")
                    | Unistory is a well-managed and structured team, Weekly updates, quick response, and turnaround. I would highly recommend the Unistory team for any project. We are so pleased with the results that we started the second project right away. Thank you guys for your hard work
                  h3 Bogdan Parhomenko
                  h4 CEO &quot;BP Networking & Design Inc.&quot;
            .slide-block.slide-block_active
              .slide-block__wrapper
                .slide-block__image
                  img(src="../img/reviews/Jamie Burton.jpg", alt="client")
                .slide-block__text
                  //- img(src="../icons/client-logo.png", alt="company")
                  p(data-i18n="home.review_burton")
                    | The agreed upon project specification was fulfilled without problems. The contractor was very flexible and adaptive to improvements and changes from our side. It took a bit longer than anticipated, but all within reasonable limits. The communication was very open, clear and responsive. All in all, clear recommendation and hoping to work with them again
                  h3 Jamie Burton
                  h4 CEO &quot;CryptoAnonymous&quot;
          .slider__controls
            button.slider__controls_prev
            button.slider__controls_next
    //- section#awards
    //-   .container
    //-     h2.title Awards
    //-     .awards
    //-       .awards__left
    //-         h3 We have already won two blockchain hackathons, and this is just the beginning
    //-       .awards__right
    //-         .awards__project
    //-           img(src="../img/awards/xdc.png", alt="xdc")
    //-           div
    //-             h4 XDC dApp Summer Hackathon
    //-             p The XinFin XDC Network is an enterprise-ready, open-source, hybrid blockchain for global trade and finance.
    //-         .awards__divider
    //-         .awards__project
    //-           img(src="../img/awards/hpb.png", alt="hpb")
    //-           div
    //-             h4 High Performance Blockchain - Hackathon
    //-             p HPB is a layer 1, main-net, fully Ethereum Virtual Machine (EVM) compatible blockchain.
    //- section#partnership
    //-   .container
    //-     h2.title Partnership
    //-     .partnership
    //-       .partnership__left
    //-         div
    //-           img(src="../img/partnership/0x-protocol.svg", alt="0x protocol")
    //-       .partnership__right
    //-         h3 0x protocol
    //-         h4 0x protocol
    //-         p Our team has participated and contributed to 0x Protocol Grant Program with a proposed add-on to 0x Protocol tool - Trader's NFTSwapSDK. We've developed a React Hook library wrapper around the mentioned SDK, which significantly expands the existing tool's capabilities during integration with React-based web applications.
    //-   .partnership-marquee
    //-     .partnership-marquee__content
    //-       .partnership-marquee__tag More coming soon
    //-       .partnership-marquee__tag.outline More coming soon
    //-       .partnership-marquee__tag More coming soon
    //-       .partnership-marquee__tag.outline More coming soon
    //-       .partnership-marquee__tag More coming soon
    //-       .partnership-marquee__tag.outline More coming soon
    //-       .partnership-marquee__tag More coming soon
    //-       .partnership-marquee__tag.outline More coming soon
    #contactUs.contact-us 
      .container 
        h2.title(data-i18n="contact.contact_us") Contact us
        .contact-us__wrap 
          .contact-us__details 
            h3.contact-us__subtitle(data-i18n="contact.get_in_touch") Get in touch
            .contact-us__item 
              b(data-i18n="contact.phone") Phone
              br
              a(href="tel:+7 981 101 1104") +7 981 101 1104
            .contact-us__item 
              b(data-i18n="contact.email") Email
              br
              a(href="mailto:contact@unistory.app") contact@unistory.app
            .contact-us__item 
              b(data-i18n="contact.address") Address
              br
              p(data-i18n="[html]contact.address_text") Kazakhstan, Nur-Sultan
                br 
                | Ave. Mangilik El. 39
          form#contactForm.contact-us__form(enctype="multipart/form-data")
            .contact-us__inputs-wrap
              .contact-us__form-frame.contact-us__form-frame_top-right
              .contact-us__form-frame.contact-us__form-frame_bottom-right
              label.contact-us__field
                input#nameInput(
                  type="text",
                  name="name",
                  autocomplete="name",
                  placeholder="Name",
                  required
                )
                span(data-i18n="contact.input_name")
              label.contact-us__field
                input#emailInput(
                  type="email",
                  name="email",
                  autocomplete="email",
                  placeholder="Email",
                  required
                )
                span(data-i18n="contact.input_email")
              label.contact-us__field
                input#phoneInput(
                  type="tel",
                  name="phone",
                  autocomplete="tel",
                  placeholder="Phone number"
                )
                span(data-i18n="contact.input_phone")
              label.contact-us__field
                textarea#message(
                  name="message",
                  cols="30",
                  rows="1",
                  placeholder="Tell us about your project",
                  maxlength="5000",
                  required
                )
                span(data-i18n="contact.input_tell_us")
                small#messageLength 0/5000
              label.contact-us__file
                img(src="../icons/attach.svg", alt="alt")
                span#filelist(data-i18n="contact.attach_files") Attach files
                input#file(type="file", name="file") 
            button.btn.btn_animated_white.btn_size_l(
              type="submit",
              data-i18n="home.discuss_the_project"
            ) Discuss the project
            .contact-us__description
              p(data-i18n="contact.by_submitting")
              a#privacyPolicyForm(
                href="javascript:;",
                data-i18n="contact.privacy_policy"
              ) 
              p(data-i18n="contact.rules")

    include ./blocks/footer.pug
    include ./blocks/translation-script.pug
    script(type="module", src="../scripts/slider.js") 
    script(type="module", src="../scripts/categories.js") 
    script(type="module", src="../scripts/smooth-scroll.js") 
    script(type="module", src="../scripts/animation.js") 
    script(type="module", src="../scripts/menu.js") 
    script(type="module", src="../scripts/send-mail.js")
