doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Unistory | Portfolio
    link(rel="stylesheet", href="../styles/main.scss")
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(
      href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700&display=swap",
      rel="stylesheet"
    )
  body 
    include blocks/header.pug
    .filter 
      .container
        - var tags = ["All projects", "#Startups", "#NFT", "#Design", "#DeFi", "#Support", "#Web", "#Back-end", "#Trading Bots", "#Analytics", "#Mobile", "#FinTech", "#Front-end", "#Blockchain", "#Development", "#Release", "#Booking", "#eCommerce", "#B2B"];
          ul.filter__list 
            each tag, index in tags.length ? tags : ['There are no tags']
              if index === 0
                li.filter__item.filter__item_accent 
                  button.active(data-tag="all")= tag
              else
                li.filter__item 
                  button(data-tag)= tag
    section.cases-section
      .container 
        .cases-section__grid
          article.cases-section__item.case-card.case-card_animation_flip(
            data-category="#Integrations,#Blockchain"
          )
            ul.case-card__tags 
              li
                a(href="javascript:;", data-tag) #Integrations
              li
                a(href="javascript:;", data-tag) #Blockchain
            a.case-card__img(href="javascript:;")
              img(src="../img/Case_1.jpeg", alt="Millionpieces")
              .case-card__info 
                .case-card__price 
                  .case-card__subtitle Development time:
                  | 3 months
                .case-card__stack
                  .case-card__subtitle Stack:
                  | Vue.js, Nuxt.js, GraphQL, web3.js, Solidity.
                .case-card__description 
                  .case-card__subtitle Description:
                  | Metaverse NFT project with OpenSea integration. Here users can buy a piece of the virtual Earth and insert a picture into it. Also, the user can merge pieces of the Earth nearby to increase the available area for the picture or insert another one.
                  p The project used many different integrations and technologies, such as SPA, Smart Contracts and 5 popular crypto wallets
            h3.case-card__title Millionpieces
          article.cases-section__item.case-card.case-card_animation_flip(
            data-category="#NFT,#Design"
          )
            ul.case-card__tags 
              li
                a(href="javascript:;", data-tag) #NFT
              li
                a(href="javascript:;", data-tag) #Design
            a.case-card__img(href="javascript:;")
              img(src="../img/Case_2.jpeg", alt="Millionpieces")
              .case-card__info 
                .case-card__price 
                  .case-card__subtitle Development time:
                  | 3 weeks
                .case-card__stack
                  .case-card__subtitle Stack:
                  |
                  | React.js, Express.js, ImmutableX
                .case-card__description 
                  .case-card__subtitle Description:
                  | Puzzle themed NFT project. The project has a lot of beautiful and smooth animations that improve the user experience while on the site. We used the Immutable X blockchain, popular among NFT projects, known for its extremely low gas price.
            h3.case-card__title Puzzle People.
          article.cases-section__item.case-card.case-card_animation_flip(
            data-category="#Web,#Back-end"
          )
            ul.case-card__tags 
              li
                a(href="javascript:;", data-tag) #Web
              li
                a(href="javascript:;", data-tag) #back-end
            a.case-card__img(
              href="https://www.figma.com/file/WjcMt2wMBlKJSOcOUjfnXf/SipSignal_2?node-id=43%3A452"
            )
              img(src="../img/Case_3.jpeg", alt="Millionpieces")
              .case-card__info 
                .case-card__price 
                  .case-card__subtitle Development time:
                  | 2 months
                .case-card__stack
                  .case-card__subtitle Stack:
                  | Angular, TypeScript, Node.js, Express.js
                .case-card__description 
                  .case-card__subtitle Description:
                  | A platform built for the US internet fax leader. The project uses a lot of modern technologies, such as SPA elements and complex server calculations. A customized administrative panel was created to control and add subscriptions/products.
            h3.case-card__title SipSignal
          article.cases-section__item.case-card.case-card_animation_flip(
            data-category="#eCommerce,#Web"
          )
            ul.case-card__tags 
              li
                a(href="javascript:;", data-tag) #Web
              li
                a(href="javascript:;", data-tag) #eCommerce
            a.case-card__img(href="https://rauberg.ru/")
              img(src="../img/Case_4.jpeg", alt="Millionpieces")
              .case-card__info 
                .case-card__price 
                  .case-card__subtitle Development time:
                  |
                  | 3 weeks
                .case-card__stack
                  .case-card__subtitle Stack:
                  | Wordpress, WooCommerce, PHP, MySQL
                .case-card__description 
                  .case-card__subtitle Description:
                  | Website-showcase for Rauberg, a popular manufacturer of household appliances in Russia. The project used a lot of interesting animations, and also created and set up a purchase function directly on the site.
            h3.case-card__title Rauberg

    include blocks/footer.pug
    script(type="module", src="../scripts/categories.js") 
