doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="icon", href="../favicon.ico")
    link(rel="apple-touch-icon", href="../apple-touch-icon.png")
    title Unistory | Portfolio
    link(rel="stylesheet", href="../styles/main.scss")
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(
      href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700&display=swap",
      rel="stylesheet"
    )
  body 
    include blocks/header.pug
    .filter 
      .container
        - var tags = ["All projects", "#Blockchain projects", "#Web 3.0", "#DEFI", "#P2E", "#NFT", "#Smart contracts", "#Design", "#Front-end", "#Back-end", "#eCommerce", "#CRM/ERP", "#BNB", "#BUSD", "#Stacking", "#Ads-scanner", "#Aggregator", "#B2B", "#Mobile"];
          ul.filter__list 
            each tag, index in tags.length ? tags : ['There are no tags']
              if index === 0
                li.filter__item.filter__item_accent 
                  button.active(data-tag="all")= tag
              else
                li.filter__item 
                  button(data-tag)= tag
    section.cases-section
      .container
        .cases-section__grid
          //article.cases-section__item.case-card.case-card_animation_flip(
          //  data-category="#Front-end,#Web,#Analytics"
          //)
          //  ul.case-card__tags
          //    li
          //      a(href="javascript:;", data-tag) #Front-end
          //    li
          //      a(href="javascript:;", data-tag) #Analytics
          //    li
          //      a(href="javascript:;", data-tag) #Web
          //  a.case-card__img(href="javascript:;")
          //    img.case-card__img-bg(
          //      src="../img/mil-bg.jpg",
          //      alt="Millionpieces"
          //   )
          //    img.case-card__img-lt_v2(
          //      src="../img/accepted_2.jpg",
          //      alt="Millionpieces"
          //   )
          //    img.case-card__img-rb_v2-1(
          //      src="../img/accepted_1.jpg",
          //      alt="Millionpieces"
          //   )
          //    img.case-card__img-lb_v2(
          //      src="../img/iPhone.png",
          //      alt="Millionpieces"
          //   )
          //    .case-card__info
          //      .case-card__price
          //        .case-card__subtitle Development time:
          //        | 2 months.
          //      .case-card__stack
          //        .case-card__subtitle Stack:
          //        | Vue.js, jQuery, Django, Select2, Python.
          //      .case-card__description
          //        .case-card__subtitle Description:
          //        | A platform where users can see which companies around accept this or that cryptocurrency. Companies can be viewed both as a list and on a map. Also, the user can add his company through a special form on the site. We have developed the design of the project, as well as all the functionality.
          //  h3.case-card__title Accepted_Here
          article.cases-section__item.case-card.case-card_animation_scale(
            data-category="#Analytics,#NFT,#Web 3.0,#Stacking,#Blockchain projects,#Back-end,#Front-end"
          )
            ul.case-card__tags 
              li
                a(href="javascript:;", data-tag) #Staking
              li
                a(href="javascript:;", data-tag) #DEFI
              li
                a(href="javascript:;", data-tag) #Web 3.0
            a.case-card__img(href="./xillion.pug")
              img.case-card__img-bg(src="../img/xillion/case.jpg", alt="Heist")
            h3.case-card__title Xillion
          article.cases-section__item.case-card.case-card_animation_scale(
            data-category="#Analytics,#NFT,#Web 3.0,#Stacking,#Blockchain projects,#Back-end,#Front-end"
          )
            ul.case-card__tags 
              li
                a(href="javascript:;", data-tag) #NFT
              li
                a(href="javascript:;", data-tag) #Web 3.0
              li
                a(href="javascript:;", data-tag) #Chainlink
            a.case-card__img(href="./gas-monsters.pug")
              img.case-card__img-bg(
                src="../img/gas-monsters/case.jpg",
                alt="Heist"
              )
            h3.case-card__title GasMonsters
          article.cases-section__item.case-card.case-card_animation_scale(
            data-category="#NFT,#BUSD,#BNB,#Stacking,#Blockchain projects,#Back-end,#Front-end,#Analytics,#Web 3.0"
          )
            ul.case-card__tags 
              li
                a(href="javascript:;", data-tag) #NFT
              li
                a(href="javascript:;", data-tag) #BUSD
              li
                a(href="javascript:;", data-tag) #BNB
              li
                a(href="javascript:;", data-tag) #Stacking
            a.case-card__img(href="./heist.pug")
              img.case-card__img-bg(src="../img/case-heist.jpg", alt="Heist")
            h3.case-card__title The Heist game
          article.cases-section__item.case-card.case-card_animation_scale(
            data-category="#B2B,#Aggregator,#Ads-scanner,#Mobile,#Back-end,#Front-end"
          )
            ul.case-card__tags 
              li
                a(href="javascript:;", data-tag) #B2B
              li
                a(href="javascript:;", data-tag) #Aggregator
              li
                a(href="javascript:;", data-tag) #Ads-scanner
              li 
                a(href="javascript:;", data-tag) #Mobile
            a.case-card__img(href="./personal.pug")
              img.case-card__img-bg(
                src="../img/case-personal.jpg",
                alt="Personal"
              )
            h3.case-card__title Personal
          article.cases-section__item.case-card.case-card_animation_flip(
            data-category="#CRM/ERP,#Back-end,#Front-end"
          )
            ul.case-card__tags 
              li
                a(href="javascript:;", data-tag) #CRM/ERP
              li
                a(href="javascript:;", data-tag) #Back-end
              li
                a(href="javascript:;", data-tag) #Front-end
            a.case-card__img(href="./sipsignal.pug")
              img.case-card__img-bg(
                src="../img/signal-bg.jpg",
                alt="Sipsignal"
              )
              img.case-card__img-lt_v3(
                src="../img/signal-lt.jpg",
                alt="Sipsignal"
              )
              img.case-card__img-lb_v3(
                src="../img/signal-lb.jpg",
                alt="Sipsignal"
              )
              img.case-card__img-rb_v3(
                src="../img/signal-rb.png",
                alt="Sipsignal"
              ) 
              .case-card__info 
                .case-card__price 
                  .case-card__subtitle(data-i18n="portfolio.development_time")
                  span(data-i18n="portfolio.sipsignal_time") 2 months
                .case-card__stack
                  .case-card__subtitle(data-i18n="portfolio.stack")
                  | Angular, TypeScript, Node.js, Express.js
                .case-card__description 
                  .case-card__subtitle(data-i18n="portfolio.description")
                  span(data-i18n="portfolio.sipsignal_descr")
            h3.case-card__title SipSignal
          article.cases-section__item.case-card.case-card_animation_flip(
            data-category="#NFT,#Design,#Web 3.0"
          )
            ul.case-card__tags
              li
                a(href="javascript:;", data-tag) #NFT
              li
                a(href="javascript:;", data-tag) #Design
              li
                a(href="javascript:;", data-tag) #Web 3.0
            a.case-card__img(href="javascript:;")
              img.case-card__img-bg(
                src="../img/puzzle-bg.jpg",
                alt="Puzzlepeople"
              )
              img.case-card__img-rt(
                src="../img/puzzle-rt.jpg",
                alt="Puzzlepeople"
              )
              img.case-card__img-lt(
                src="../img/puzzle-lt.png",
                alt="Puzzlepeople"
              )
              img.case-card__img-lb(
                src="../img/puzzle-lb.jpg",
                alt="Puzzlepeople"
              )
              img.case-card__img-rb(
                src="../img/puzzle-rb.png",
                alt="Puzzlepeople"
              )
              .case-card__info 
                .case-card__price 
                  .case-card__subtitle(data-i18n="portfolio.development_time") Development time:
                  span(data-i18n="portfolio.puzzle_time") 3 weeks
                .case-card__stack
                  .case-card__subtitle(data-i18n="portfolio.stack") Stack:
                  |
                  | React.js, Express.js, ImmutableX
                .case-card__description 
                  .case-card__subtitle(data-i18n="portfolio.description") Description:
                  span(data-i18n="portfolio.puzzle_descr")
            h3.case-card__title Puzzle People

          article.cases-section__item.case-card.case-card_animation_flip(
            data-category="#eCommerce,#Front-end,#Design"
          )
            ul.case-card__tags 
              li
                a(href="javascript:;", data-tag) #Front-end
              li
                a(href="javascript:;", data-tag) #eCommerce
              li
                a(href="javascript:;", data-tag) #Design
            a.case-card__img(href="javascript:;")
              img.case-card__img-bg(src="../img/rau-bg.jpg", alt="Rauberg")
              img.case-card__img-rt(src="../img/rau-rt.jpg", alt="Rauberg")
              img.case-card__img-lt_v4(src="../img/rau-lt.png", alt="Rauberg")
              img.case-card__img-lb(src="../img/rau-lb.jpg", alt="Rauberg")
              img.case-card__img-rb_v4(src="../img/rau-rb.png", alt="Rauberg")
              .case-card__info 
                .case-card__price 
                  .case-card__subtitle(data-i18n="portfolio.development_time") Development time:
                  span(data-i18n="portfolio.rauberg_time") 3 weeks
                .case-card__stack
                  .case-card__subtitle(data-i18n="portfolio.stack") Stack:
                  | Wordpress, WooCommerce, PHP, MySQL
                .case-card__description 
                  .case-card__subtitle(data-i18n="portfolio.description") Description:
                  span(data-i18n="portfolio.rauberg_descr")
            h3.case-card__title Rauberg
          article.cases-section__item.case-card.case-card_animation_flip(
            data-category="#eCommerce,#Back-end,#Front-end,#Blockchain projects"
          )
            ul.case-card__tags 
              li
                a(href="javascript:;", data-tag) #eCommerce
              li
                a(href="javascript:;", data-tag) #Back-end
              li
                a(href="javascript:;", data-tag) #Front-end
            a.case-card__img(href="javascript:;")
              img.case-card__img-bg(
                src="../img/atlas-bs.jpg",
                alt="Atlas Stars"
              )

              img.case-card__img-rb_v2(
                src="../img/atlas-br.jpg",
                alt="Atlas Stars"
              )
              img.case-card__img-lt_v2(
                src="../img/atlas-lt.jpg",
                alt="Atlas Stars"
              )
              img.case-card__img-lb_v2(
                src="../img/atlas-bl.png",
                alt="Atlas Stars"
              )
              .case-card__info 
                .case-card__price 
                  .case-card__subtitle(data-i18n="portfolio.development_time") Development time:
                  span(data-i18n="portfolio.atlas_time") 3 months
                .case-card__stack
                  .case-card__subtitle(data-i18n="portfolio.stack") Stack:
                  | Angular, TypeScript, d3.js, Node.js, Express.js
                .case-card__description 
                  .case-card__subtitle(data-i18n="portfolio.description") Description:
                  span(data-i18n="portfolio.atlas_descr")
            h3.case-card__title Atlas Stars
          article.cases-section__item.case-card.case-card_animation_flip(
            data-category="#NFT,#Smart contracts,#Front-end,#Blockchain projects"
          )
            ul.case-card__tags 
              li
                a(href="javascript:;", data-tag) #NFT
              li
                a(href="javascript:;", data-tag) #Smart contracts
              li
                a(href="javascript:;", data-tag) #Front-end
            a.case-card__img(href="javascript:;")
              img.case-card__img-bg(
                src="../img/lob-bg.jpg",
                alt="Loopy Lobsters"
              )
              img.case-card__img-rt(
                src="../img/lob-rt.jpg",
                alt="Loopy Lobsters"
              )
              img.case-card__img-lt_v4(
                src="../img/lob-lt.png",
                alt="Loopy Lobsters"
              )
              img.case-card__img-lb(
                src="../img/lob-lb.jpg",
                alt="Loopy Lobsters"
              )
              img.case-card__img-rb_v4(
                src="../img/lob-rb.png",
                alt="Loopy Lobsters"
              )
              .case-card__info 
                .case-card__price 
                  .case-card__subtitle(data-i18n="portfolio.development_time") Development time:
                  span(data-i18n="portfolio.lobsters_time") 1 month
                .case-card__stack
                  .case-card__subtitle(data-i18n="portfolio.stack") Stack:
                  | React.js, Node.js, Solidity, web3.js
                .case-card__description 
                  .case-card__subtitle(data-i18n="portfolio.description") Description:
                  span(data-i18n="portfolio.lobsters_descr")
            h3.case-card__title Loopy Lobsters
          article.cases-section__item.case-card.case-card_animation_flip(
            data-category="#Design,#DEFI,#Back-end"
          )
            ul.case-card__tags 
              li
                a(href="javascript:;", data-tag) #DEFI
              li
                a(href="javascript:;", data-tag) #Design
              li
                a(href="javascript:;", data-tag) #Back-end
            a.case-card__img(href="javascript:;")
              img.case-card__img-bg(src="../img/print-bg.jpg", alt="3dprint")
              img.case-card__img-lt_v3(
                src="../img/print-lt.jpg",
                alt="3dprint"
              )
              img.case-card__img-lb_v3(
                src="../img/print-lb.jpg",
                alt="3dprint"
              )
              img.case-card__img-rb_v3(
                src="../img/print-rb.png",
                alt="3dprint"
              ) 
              .case-card__info 
                .case-card__price 
                  .case-card__subtitle(data-i18n="portfolio.development_time") Development time:
                  span(data-i18n="portfolio.3dprint_time") 2 months
                .case-card__stack
                  .case-card__subtitle(data-i18n="portfolio.stack") Stack:
                  | React.js, Next.js, Node.js, webpack
                .case-card__description 
                  .case-card__subtitle(data-i18n="portfolio.description") Description:
                  span(data-i18n="portfolio.3dprint_descr")
            h3.case-card__title 3dprint.hk
          article.cases-section__item.case-card.case-card_animation_flip(
            data-category="#Design,#NFT,#Blockchain projects"
          )
            ul.case-card__tags 
              li
                a(href="javascript:;", data-tag) #NFT
              li
                a(href="javascript:;", data-tag) #Design
              li
                a(href="javascript:;", data-tag) #Blockchain projects
            a.case-card__img(href="javascript:;")
              img.case-card__img-bg(
                src="../img/crypto-bg.jpg",
                alt="CryptoFaces"
              )
              img.case-card__img-lt_v3(
                src="../img/crypto-lt.jpg",
                alt="CryptoFaces"
              )
              img.case-card__img-lb_v3(
                src="../img/crypto-lb.jpg",
                alt="CryptoFaces"
              )
              img.case-card__img-rb_v3(
                src="../img/crypto-rb.png",
                alt="CryptoFaces"
              )
              .case-card__info 
                .case-card__price 
                  .case-card__subtitle(data-i18n="portfolio.development_time") Development time:
                  span(data-i18n="portfolio.cryptofaces_time")
                .case-card__stack
                  .case-card__subtitle(data-i18n="portfolio.stack") Stack:
                  | React.js, Next.js, Ether.js, web3.js
                .case-card__description 
                  .case-card__subtitle(data-i18n="portfolio.description") Description:
                  span(data-i18n="portfolio.cryptofaces_descr")
            h3.case-card__title CryptoFaces

    include blocks/footer.pug

    include ./blocks/translation-script.pug
    script(type="module", src="../scripts/categories.js") 
    script(type="module", src="../scripts/menu.js") 
