header.header
  .container
    a.header__logo(href="/")
      img(src="../icons/logo.svg")
    nav.menu.header__menu
      ul.menu__list
        li.menu__item
          a(
            href="/#services",
            scroll-to="services",
            data-i18n="HEADER.SERVICES"
          )
        li.menu__item
          a(
            href="/#competence",
            scroll-to="competence",
            data-i18n="HEADER.COMPETENCE"
          )
        li.menu__item
          a(href="portfolio.pug", data-i18n="HEADER.PORTFOLIO")
        li.menu__item
          a(href="/#about", scroll-to="about", data-i18n="HEADER.ABOUT")
        li.menu__item
          a(href="/#reviews", scroll-to="reviews", data-i18n="HEADER.REVIEWS")
        li.menu__item
          a.btn.btn_animated_blue(
            href="/#contactUs",
            scroll-to="contactUs",
            data-i18n="HEADER.CONTACT_US"
          )
        .header__lngWrapper
          button#languageButton.header__lngBtn 
            img(src="../icons/language-change.svg", alt="lng")
          .header__lngWindow

        twirl-burger 

  .mobile-menu.mobile-menu_hidden
    a.mobile-menu__logo(href="/")
      img(src="../icons/logo.svg")
    nav.mobile-menu__nav
      ul.mobile-menu__list
        li.mobile-menu__item
          a(
            href="/#services",
            scroll-to="services",
            data-i18n="HEADER.SERVICES"
          )
        li.mobile-menu__item
          a(
            href="/#competence",
            scroll-to="competence",
            data-i18n="HEADER.COMPETENCE"
          )
        li.mobile-menu__item
          a(href="portfolio.pug", data-i18n="HEADER.PORTFOLIO")
        li.menu__item
          a(href="/#about", scroll-to="about", data-i18n="HEADER.ABOUT")
        li.menu__item
          a(href="/#reviews", scroll-to="reviews", data-i18n="HEADER.REVIEWS")
        li.mobile-menu__item
          a.btn.btn_animated_blue(
            href="/#contactUs",
            scroll-to="contactUs",
            data-i18n="HEADER.CONTACT_US"
          )
